.super-graph-root {
    position: relative;
}

.super-graph-nodes {
    position: absolute;
    width: 100%;
    height: 100%;
}

.super-graph-edges {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.super-graph-node {
    position: absolute;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
    background: white;
    padding: 10px;
    border-radius: 7px;
    border-color: black;
    border-width: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 5px 0.5px #b0b0b0;
    cursor: move;
}

.super-graph-edge {
    stroke: black;
    stroke-width: 2;
    fill: transparent;
}

.super-graph-edge:hover {
    stroke-width: 3;
}
